body{
    background-color: rgb(74, 60, 83);
}

table, td{
    border: 3px solid black;
    border-spacing: 15px;
    padding: 5px;
    text-align: center;
    border-collapse: collapse;
}

table{
    margin: 10%;
    width: 50%;
    background-image: url(tablazathatter.png);
}

td{
    height: 50px;
    vertical-align: center;
}

.cella{
    /*background-color: cornflowerblue;*/
    color: black;
    text-align: center;
}

.tablazatcim{
    font-size: 20pt;
    color: black;
    /*background-color: cornflowerblue;*/
}

#t2{ /* # mert ez egy id és nem class*/
    background-image: url(tablazathatter.png)
}